<div class="well well-sm">
	<a href="#"><h1>FlyAway</h1></a>
</div>

<nav>
	<ul class="nav nav-tabs nav-justified">
	    <li role="presentation" ng-class="common.activateNav([{text:'booking', test: 'contains'}, 'root'])"><a ui-sref="booking">Booking</a></li>
	    <li role="presentation" ng-class="common.activateNav([{text:'manage', test: 'contains'}])"><a ui-sref="manage">Manage</a></li>
    </ul>
</nav>
