<!-- airports.add Module -->
<div ng-include="view" ng-controller="airports.addCtrl"></div>
<div ng-include="view" ng-controller="airports.viewCtrl"></div>

<!-- airports.remove Module -->
<div ng-include="view" ng-controller="airports.removeCtrl"></div>